@{
    ViewData["Title"] = "Decision Tech";
}

<div class="container">
    <header>
        <button type="button" id="toggleMenu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>
    <main>
        <nav>
            <ul>
                <li>Filter</li>
                <li>Filter</li>
                <li>Filter</li>
            </ul>
        </nav>
        <article>
            <table>
                <thead>
                    <tr>
                        <th>h</th>
                        <th>j</th>
                        <th>k</th>
                        <th>g</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                </tbody>
            </table>
        </article>
    </main>
</div>